<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/ProductsPage.css" />
</head>
<body>
    <div class="Products">
        <div class="sidebar">
            <a href="">All Products</a>
            <a href="">New Product</a>
        </div>
        <div class="NewProducts">
            <h2>Create New Product</h2>
            <h3>Product Details</h3>
            <p>Upload a product Image</p>
            <form action="/owner/addproducts" method="post" enctype="multipart/form-data">
                <input class="block" type="file" name="Image" placeholder="Upload File Now">
                <input type="text" name="Name" placeholder="Product Name">
                <input type="number" name="Price" placeholder="Product Price">
                <input class="block" type="number" name="Discount" placeholder="Product Discount">
                <h2 class="Mid">Panel Details</h2>
                <input type="text" name="BackgroundColor" placeholder="Background Color">
                <input type="text" name="PanelColor" placeholder="Panel Color">
                <input type="text" name="TextColor" placeholder="Text Color">
                <input class="block button" type="submit" value="Create New Product">
            </form>
        </div>
    </div>
</body>
</html>