<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/ProductsPage.css" />
</head>
<body>
    <div class="Products">
        <div class="sidebar">
            <a href="">All Products</a>
            <a href="">New Product</a>
        </div>
        <div class="NewProducts">
            <h2>Create New Product</h2>
            <h3>Product Details</h3>
            <p>Upload a product Image</p>
            <form>
                <input type="file" name="Image" placeholder="Upload File Now">
                <input type="text" name="Name" plceholder="Product Name">
                <input type="number" name="Price" plceholder="Product Price">
                <input type="number" name="Discount" plceholder="Product Discount">
                <h2>Panel Details</h2>
                <input type="text" name="Background-Color" placeholder="Background Color">
                <input type="text" name="Panel-Color" plceholder="Panel Color">
                <input type="text" name="Text-Color" plceholder="Text Color">
                <input type="submit" value="Create New Product">
            </form>
        </div>
    </div>
</body>
</html>