*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.Accounts {
    height: 100vh;
    padding-top: 130px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(161, 91, 0);
    gap: 60px;
}

.Accounts h1 {
    color: white;
}
.Both-Parts {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap: 150px;
}

.Both-Parts h3 {
    color: white;
    font-size: 30px;
    margin-bottom: 15px;
}
form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

form input {
    height: 50px;
    width: 400px;
    border-radius: 5px;
    border: none;
    padding-left: 15px;
    outline: none;
}

.button {
    width: 150px;
    margin-top: 10px;
    background-color: rgb(69, 39, 0);
    cursor: pointer;
    text-align: center;
    border-radius: 40px;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.Extra {
    color: rgb(255, 237, 194);
}

.error-container {
    background-color: rgb(161, 91, 0);
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.error-message, .success-message {
    padding: 10px 50px;
    font-weight: bold;
    border-radius: 20px;
    color: white;
}

.error-message {
    background-color: red;
} 

.success-message {
    background-color: rgb(19, 19, 184);
}

